@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,700&display=swap');

:root {
    --darkgrey: #414141;
    --lightgrey: #EBEBEB;
    --white: #fff;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--lightgrey);
    color: var(--darkgrey);
    margin: 0;
    text-align: center;
}

h1 {
    font-weight: 800;
    font-size: 36px;
    margin: 10px;
    padding: 10px;
    line-height: normal;
}

h2 {
    font-weight: 200;
    font-size: 24px;
    margin: 10px;
    padding: 0;
}

h3 {
    font-weight: 200;
    font-size: 18px;
    margin: 10px;
    padding: 0;
}

.btn-primary, .btn-large, .btn-large-white {
    border-radius: 10px;
    padding: 22px 30px;
    font-weight: 800;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.btn-large {
    background-color: var(--darkgrey);
    color: var(--white);
    border: none;
}

.btn-primary {
    background-color: var(--darkgrey);
    color: var(--white);
    border: none;
}

.btn-large, .btn-large-white {
    width: 100%;
    font-size: 18px;
}

.btn-large-white {
    background-color: var(--white);
    color: var(--darkgrey);
    border: var(--darkgrey) 2px solid;
}

input[type="text"], .modal input[type="email"] {
    flex-grow: 3;
    margin-right: 10px;
    padding: 20px 10px;
    border-radius: 10px;
    font-size: 14px;
    min-width: 250px;
}

header {
    background-color: var(--white);
    color: var(--darkgrey);
    padding: 5px;
}

header img {
    max-width: 1200px;
}

.stepsContainer {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.spinning {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.leftContainer, .rightContainer {
    padding: 2%;
    box-sizing: border-box;
    float: none;
}

.leftContainer {
    width: 100%;
}

.rightContainer {
    width: 100%;
}

.mapContainer {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: #414141 2px solid;
}

.airQualityMarkers table {
    width: 100% !important;
    border: none;
    background-color: transparent;
}

td {
    text-align: left;
}

.iconStats {
    min-width: 60px;
    width: auto;
    height: 60px;
    padding: 3px;
    font-size: 24px;
    font-weight: 800;
    background: var(--darkgrey) !important;
    text-align: center;
    color: var(--white) !important;
    border-radius: 8px;
    margin: 30px 0;
    line-height: normal;
    border-collapse: separate;
}

.step {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    pointer-events: none;
    width: 100%;
    display: inline;
}

.step.active {
    opacity: 1;
    position: static;
    pointer-events: auto;
}

.choices {
    display: inline-block;
    width: 100%;
    max-width: 500px;
    line-height: 2.5;
}

.choices button {
    width: 100%;
}

.choices radio {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px solid #70707099;
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background-color: #f9f9f9;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: relative;
    border-radius: 25px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cartContainer {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* Shopify Styles */
.products {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 900px;
}

.product-card {
    flex: 0 0 calc(33.33% - 20px); 
    margin-bottom: 20px;
    box-sizing: border-box; 
    background-color: var(--white);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 10px; 
    text-align: center;
}
.product-card ul {
    text-align: left;
    padding: 16px;
    margin: 0;
    line-height: 1.5;
}
.product-card li {
    margin-bottom: 8px;
}
.product-card h2 {
    font-weight: 700;
}
.badge {
    font-size: 12px;
    background-color: var(--lightgrey);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    word-wrap:normal;
}

/* For mobile views */
@media (max-width: 700px) {
    .product-card {
        flex: 0 0 100%;
        margin: 20px auto;
    }
}


@media (max-width: 700px) {
    header img {
        width: 100%;
    }

    .modal-content {
        width: 90%;
    }

    input[type="text"], .modal input[type="email"] {
        min-width: 90%;
    }

    .stepsContainer {
        width: 90%;
        max-width: 900px;
        margin: 0 auto;
        padding: 0;
    }
    

}

@media (min-width: 700px) {
    
    .leftContainer {
        width: 65%;
        flex: none;
    }
    
    .rightContainer {
        width: 25%;
        flex: none;
    }
    
    .parentContainer { 
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 500px) {
    .modal input[type="email"] {
        min-width: 80%;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 28px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    h3 {
        font-size: 16px;
    }
}
